body{
    background-color: beige;
}

#hero {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../img/agua-energia-mar-medioambiente.jpg);
    background-position: center;
    color: aliceblue;
}

#iconos {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(136, 176, 185, 0.171);
}

.iconos-estilo {
    font-size: 40px;
    color: blue;
}

#form-mail {
    align-items: center;
     text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../img/agua-energia-mar-medioambiente.jpg);
    background-position: center;
    color: aliceblue;
}
